<section class="testimonial section--dark">
  <div class="testimonial__container">
    <i class="bi bi-quote testimonial__quote-icon" aria-hidden="true"></i>
    
    <blockquote class="testimonial__quote">
      My friends, who go here every week highly recommended this place to me.
    </blockquote>
    
    <cite class="testimonial__author">- Dempsey Rosa</cite>
  </div>
</section> 